export("find_info_from_text",
       "find_info_from_file",
       "read_first_lines",
       "find_infos_from_file",
       "headerSearchPatterns",
	"file_information_table_from_folder",
	"file_information_table_from_folders",
    "stress_data_start_line",
    "read_stress_curve_from_file",
    "measurement_periods",
    "G_from_demodulation",
    "read_stress_tensor_data_from_file",
    "read_general_data_from_file",
    "split_tensor_and_overview_data",
    "read_stress_tensor_data_from_rda_file",
    "read_stress_curve_from_rda_file",
    "evaluate_stress_curve",
    "get_yield_point",
    "linear_regression_p_bootstrap",
    "general_linear_regression_p_bootstrap")
    
importFrom("graphics", "lines")
importFrom("methods", "is")
importFrom("stats", "approx", "coefficients", "gaussian", "glm", "lm",
             "pf", "pnorm", "qnorm", "quantile", "resid", "shapiro.test",
             "update", "weights")
importFrom("utils", "read.table")
importFrom("rsq", "rsq.glmm", "vresidual")
importFrom("MASS", "negative.binomial")

